<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts</title>
</head>
<body>
    {% if form.errors %} <p>invalid login credentials</p> {% endif %}
    <form method="POST">
        {% CSRF_token%}
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="Submit">
    </form>
    <a href="{% url 'charlesscrumy:home' %}"> Home </a>
</body>
</html>