<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCRUM APPLICATION</title>
</head>
<body>
    <table>
        <tr>
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>
        {% for user in users %}
        <tr> 
            <td>{{user.username}}</td>   
            <td>
                <ul>
                    {% for weekly  in weeklyGoals %}
                    {% if weekly.user == user %}
                    <li>{{ weekly.goal_name }} : {{ weekly.goal_id }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for daily  in dailyGoals %}
                    {% if daily.user == user %}
                    <li>{{ daily.goal_name }} : {{ daily.goal_id }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for verify  in verifyGoals %}
                    {% if verify.user == user %}
                    <li>{{ verify.goal_name }} : {{ verify.goal_id }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for done  in doneGoals %}
                    {% if done.user == user %}
                    <li>{{ done.goal_name }} : {{ done.goal_id }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>