<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>SCRUM APPLICATION</title>
</head>
<body class="ui container">
    {% if user.is_authenticated %}
    <br>
    <div class="field">
       <h4><i class="icon user"></i>{{user.first_name}}</h4> 
    </div>
    {% endif %}
    <h2 style="text-align: center;">Scrumy Board</h2>
    <table class="ui table">
        <tr  >
            <th style="padding: 12px;">User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>
        {% for currentUser in users %}
        <tr> 
            <td>{{currentUser.first_name}}</td>   
            <td>
                <ul style="padding: 0;">
                    {% for weekly  in currentUser.maps.all %}
                    {% if weekly in weeklyGoals %}
                    <li style="list-style: none">{{ weekly.goal_name }} : {{ weekly.goal_id }} <br>
                      <a style="font-size: 11px;" href="{% url 'charlesscrumy:movegoal' weekly.goal_id %} ">Move goal</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul style="padding: 0;">
                    {% for daily  in currentUser.maps.all %}
                    {% if daily in dailyGoals %}
                    <li style="list-style: none">{{ daily.goal_name }} : {{ daily.goal_id }} <br>
                       <a style="font-size: 11px;"  href="{% url 'charlesscrumy:movegoal' daily.goal_id %}">Move goal</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul style="padding: 0;">
                    {% for verify  in currentUser.maps.all %}
                    {% if verify  in verifyGoals %}
                    <li style="list-style: none;">{{ verify.goal_name }} : {{ verify.goal_id }} <br>
                        <a style="font-size: 11px;" href="{% url 'charlesscrumy:movegoal' verify.goal_id %} ">Move goal</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul style="padding: 0;">
                    {% for done  in currentUser.maps.all %}
                    {% if done in doneGoals %}
                    <li style="list-style: none">{{ done.goal_name }} : {{ done.goal_id }} <br>
                        <a style="font-size: 11px;"  href="{% url 'charlesscrumy:movegoal' done.goal_id %} ">Move goal</a>
                       
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'charlesscrumy:addgoal'%}">Add goal</a></p>
    {% if user.is_authenticated %}
    <p><a href="{% url 'charlesscrumy:logout'%}">Logout</a></p>
    {% endif %}
</body>
</html>