<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <title>User account</title>
</head>
<body class="ui container">
    {% if user.is_authenticated %}
    <br>
    <div class="field">
       <h4><i class="icon user"></i>{{user.username}}</h4> 
    </div>
    {% endif %}
    <h2>User Account</h2>
    <form method="POST" class="ui form segment">{% csrf_token %}
        {% for field in form%}
        
            <div class="field">
                {{field.errors}}
                {{field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <sup> {{ field.help_text }}</sup>
                {% endif %}
            </div>
       
        {% endfor %}
        <div class="field">
            <button type="submit" class="ui submit button primary">Sign up</button>
        </div>
        
    </form>
    <a href="{% url 'charlesscrumy:home' %}">Home</a>
</body>
</html>