<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>Add Goal</title>
</head>
<body class="ui container">
  
    <form method="POST" class="ui form segment" style="margin-top: 50px;">
        {% csrf_token%}
            <div class="inline fields">
              <label>Select the status you wish to the move goal to:</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency" checked="checked" value="Weekly Goal">
                  <label>Weekly Goal</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency" value="Daily Goal">
                  <label>Daily Goal</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency" value="Verify Goal">
                  <label>Verify Goal</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency" value="Done Goal">
                  <label>Done Goal</label>
                </div>
              </div>
            </div>
            <div class="field">
                <button type="submit" class="ui submit button primary">Move Goal</button>
            </div>
    </form>
   
</body>
</html>